.container {
  color: white;
  width: 50%;
  height: 100%; /* или задай фиксированную высоту, если нужно */
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
}

.content {
  padding-top: 16px;
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  padding-right: 8px;
}

.ListBurger {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две карточки в строке */
  gap: 16px;
  margin-bottom: 40px;
}

/* Кастомный вертикальный скролл */
.ListBurger::-webkit-scrollbar {
  width: 6px;
}
.ListBurger::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 4px;
}
.ListBurger::-webkit-scrollbar-track {
  background: transparent;
}
