.modal {
  padding: 60px 40px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalClose {
  margin-left: auto;
}
.modalClose:hover {
  cursor: pointer;
}
