/* Modal.module.css */
.modal {
  font-family: 'Jet Brains Mono', Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1c1c21;
  padding: 40px;
  border-radius: 8px;
  z-index: 1001;
  min-width: 500px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalClose {
  margin-left: auto;
}
.modalClose:hover {
  cursor: pointer;
}
