.header {
  background-color: #1c1c21;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 16px 15px;
  display: flex;
  align-items: center;
}

.PersonalAccount {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.OrderFeed {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Designer {
  display: flex;
  gap: 8px;
}

.OrderFeed,
.Designer,
.PersonalAccount {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none; /* убрать подчёркивание */
  color: inherit; /* унаследовать цвет текста */
  cursor: pointer;
}

.OrderFeed p,
.Designer p,
.PersonalAccount p {
  margin: 0; /* убрать отступы у текста */
}
